/* Modify the background color */

.navbar-custom {
  background-color: white;
}

.main-custom {
  color-scheme: white;
}

/* Modify brand and text color */
         
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color:white;
}

.main-custom .main.brand, 
.main-custom  {
  color: white;
}

.main-text {
  color: black;
}

.img {
  max-height: 65%;
  max-width: 65%;
  height: auto;
  margin-right: 10px;
}


.btn-primary,
.btn,
.btn-primary {
  background-color: black
}

.glyphicon-calendar{
  font-size: 15pt;
}

.input-group{
  width: 180px;
  margin-top:30px;
}
html {
  height: 100%;
}


body {
  height: 100%;

}

